[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
twilio = "*"
flask-sockets = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
